:root {
  --textColor: #ffffff;
}
.container {
  display: flex;
}
.item {
  width: calc(100% / 2);
  padding: 100px;
  font-size: 20px;
  margin: 20px;
  background: hotpink;
  border-radius: 15px;
}
.item h2 {
  text-align: center;
  padding-bottom: 14px;
  text-transform: uppercase;
  color: var(--textColor);
}
.item h2,
p {
  color: var(--textColor);
}
